page-login {
  /*#logoParent{
    text-align: center;
  }
  #logoImage{
    height: 215px;
    width: 420px;
  }

  .vertical-align-content > *
  {
    margin: auto;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }*/
}
