
<ion-header *ngIf="!showSplash">

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="!showSplash">

    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input [(ngModel)]="inputEmail" type="email" placeholder="johndoe@work.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Password</ion-label>
      <ion-input [(ngModel)]="inputPassword" type="password" placeholder=""></ion-input>

    </ion-item>

    <button ion-button (click)="login()">
      Login
    </button>

    <button ion-button (click)="logout()">
      Logout
    </button>

</ion-content>
