<ng-template #addTxt>Add</ng-template>
<ng-template #updateTxt>Update</ng-template>

<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
    <ion-title><span *ngIf="addingNewPatient; then addTxt; else updateTxt"></span> Patient</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #patientForm="ngForm" (ngSubmit)="addOrUpdatePatient(patientForm.value)">
    <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="Name" [(ngModel)]="clonedPatient.name" required name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime [(ngModel)]="clonedPatient.dateOfBirth" required name="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Gender</ion-label>
        <ion-select [(ngModel)]="clonedPatient.gender" required name="gender">
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Male">Male</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Blood Group</ion-label>
        <ion-select [(ngModel)]="clonedPatient.bloodType" required name="bloodType">
          <ion-option *ngFor="let bloodType of bloodTypes">{{bloodType}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Arrival Time</ion-label>
        <ion-datetime [(ngModel)]="clonedPatient.arrivalTime" required name="arrivalTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Room</ion-label>
        <ion-select [(ngModel)]="clonedPatient.roomRef.id" required name="roomRef">
          <ion-option *ngFor="let room of rooms | async" value="{{room.$id}}">{{room.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Allergies</ion-label>
        <ion-select [(ngModel)]="clonedPatient.allergyRef.id" required name="allergyRef">
          <ion-option *ngFor="let allergy of allergies | async" value="{{allergy.$id}}">{{allergy.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Diet</ion-label>
        <ion-textarea [(ngModel)]="clonedPatient.diet" required name="diet"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Assign Doctor</ion-label>
        <ion-select [(ngModel)]="clonedPatient.doctorRef.id" required name="doctorRef">
          <ion-option *ngFor="let doctor of doctors | async" value="{{doctor.$id}}">{{doctor.firstName + " " + doctor.lastName}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <ion-buttons end>
      <button ion-button block [disabled]="!patientForm.form.valid" type="submit">
        <span *ngIf="addingNewPatient; then addTxt; else updateTxt"></span>
      </button>
    </ion-buttons>
  </form>
</ion-content>
