page-add-patient {
  .background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scroll-content {
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: rgba(232, 230, 230, 0.6px);
    border-radius: 10px;
    z-index: 100;
  }

  .item {
    background: rgba(232, 230, 230, 0px);
    border: medium none;
  }

  .red-border-class {
    border-left: 5px solid red;
  }

  ion-label.required:after {
    content: " *";
    color: red;
  }

  ion-input {
    border-bottom: #FD4D73 solid 1px;
  }

  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }
}
