<ion-header>
  <ion-navbar>
    <ion-title>Add Patient</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Add Patient
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <form #patientForm="ngForm" (ngSubmit)="addPatient(patientForm)">
          <ion-item>
            <ion-label floating [ngClass]="{'required': name.errors}">Name</ion-label>
            <ion-input type="text" [(ngModel)]="newPatient.name" maxlength="20" name="name" required #name="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating [ngClass]="{'required': age.errors}">Age</ion-label>
            <ion-input type="tel" pattern="[0-9]*" [(ngModel)]="newPatient.age" maxlength="3" name="age" #age="ngModel" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label [ngClass]="{'required': gender.errors}">Gender</ion-label>
            <ion-select [(ngModel)]="newPatient.gender" name="gender" #gender="ngModel" required>
              <ion-option value="Female">Female</ion-option>
              <ion-option value="Male">Male</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Blood Group</ion-label>
            <ion-select [(ngModel)]="newPatient.bloodType" name="bloodType">
              <ion-option *ngFor="let bloodType of bloodTypes">{{bloodType}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating >Arrival Time</ion-label>
            <ion-datetime [(ngModel)]="newPatient.arrivalTime" name="arrivalTime">></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating [ngClass]="{'required': roomRef.errors}">Room</ion-label>
            <ion-select [(ngModel)]="newPatient.roomRef" required name="roomRef" #roomRef="ngModel">
              <ion-option *ngFor="let room of rooms | async" value="{{room.$id}}">{{room.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Allergies</ion-label>
            <ion-select [(ngModel)]="newPatient.allergy" required name="allergy" multiple="true" #allergy="ngModel">
              <ion-option *ngFor="let allergy of allergies | async" value="{{allergy.$id}}">{{allergy.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Diet</ion-label>
            <ion-textarea [(ngModel)]="newPatient.diet" name="diet"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>Current Treatments</ion-label>
            <ion-textarea [(ngModel)]="newPatient.treatment" name="treatment"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>Assign Doctor</ion-label>
            <ion-select [(ngModel)]="newPatient.doctor" required name="doctor" #doctor="ngModel">
              <ion-option *ngFor="let doctor of doctors | async" value="{{doctor.$id}}">{{doctor.firstName + " " + doctor.lastName}}</ion-option>
            </ion-select>
          </ion-item>
          <button ion-button [disabled]="!patientForm.form.valid" type="submit"><ion-icon name="add"></ion-icon></button>
        </form>
        <ion-item>
          <button ion-button (click)="resetForm()"><ion-icon name="close"></ion-icon></button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
