<ion-header>
  <ion-navbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only (click)="openModalAddUpdateNurse()">
        <ion-icon name="person-add"></ion-icon>
      </button>
      <button ion-button (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Nurses</ion-list-header>
    <ion-item-sliding #item *ngFor="let nurse of nurses | async">
      <ion-item (click)="openModalAddUpdateNurse(nurse)">
        <ion-avatar item-start>
          <img *ngIf="nurse.imageUrl" src="{{nurse.imageUrl}}">
          <img *ngIf="!nurse.imageUrl" src="http://i.pravatar.cc/150?u={{nurse.$id}}">
        </ion-avatar>
        <h2>{{nurse.name}}</h2>
        <p>Office: {{nurse.room}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeNurse(nurse)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
