<!--
  Generated template for the UpdatePatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Update Patient</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Update Patient
    </ion-card-header>
    <ion-card-content>


      <ion-list no-lines>
        <form #pform="ngForm" (ngSubmit)="updatePatient(pform)">
        <!--  <ion-item>
            <ion-label floating [ngClass]="{'required': id.errors}">Patient Id</ion-label>
            <ion-input type="text" [(ngModel)]="newPatient.id" maxlength="10" name="id" required #id="ngModel"></ion-input>
          </ion-item>-->
          <!--<span *ngIf="pid.errors">
              <span [hidden]="!pid.errors.required">
                  <ion-label style="color: red; margin-left: 16px;"> Id is required </ion-label>
              </span>
          </span>-->
          <ion-item>
            <ion-label floating [ngClass]="{'required': name.errors}">Name</ion-label>
            <ion-input type="text" [(ngModel)]="patient.name" maxlength="20" value="patient.name" name="name" required #name="ngModel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating [ngClass]="{'required': age.errors}">Age</ion-label>
            <ion-input type="tel" pattern="[0-9]*" [(ngModel)]="patient.age" maxlength="3" value="patient.age" name="age" #age="ngModel" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label [ngClass]="{'required': gender.errors}">Gender</ion-label>
            <ion-select [(ngModel)]="patient.gender" name="gender" #gender="ngModel" required>
              <ion-option value="f">Female</ion-option>
              <ion-option value="m">Male</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Blood Group</ion-label>
            <ion-select [(ngModel)]="patient.bloodType" name="bloodType">
              <ion-option value="A+">A+</ion-option>
              <ion-option value="A-">A-</ion-option>
              <ion-option value="B+">B+</ion-option>
              <ion-option value="B-">B-</ion-option>
              <ion-option value="O+">O+</ion-option>
              <ion-option value="O-">O-</ion-option>
              <ion-option value="AB+">AB+</ion-option>
              <ion-option value="AB-">AB-</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Arrival<br>Time</ion-label>
            <ion-input type="date" [(ngModel)]="patient.arrivalTime" name="arrivalTime" value="patient.arrivalTime"></ion-input>
          </ion-item>
        <!--  <ion-item>
            <ion-label floating>Room</ion-label>
            <ion-select [(ngModel)]="patient.room" value="patient.room" name="room">
              <ion-option *ngFor="let room of rooms | async" value="{{room.$id}}">{{room.name}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Allergies</ion-label>
            <ion-select [(ngModel)]="patient.allergy" name="allergy" value="patient.allergy" multiple="true">
              <ion-option *ngFor="let allergy of allergies | async" value="{{allergy.$id}}">{{allergy.name}}</ion-option>
            </ion-select>
          </ion-item> -->

          <ion-item>
            <ion-label floating>Diet</ion-label>
            <ion-textarea [(ngModel)]="patient.diet" name="diet" value="patient.diet"></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label floating>Current Treatments</ion-label>
            <ion-textarea [(ngModel)]="patient.treatment" name="treatment" value="patient.diet"></ion-textarea>
          </ion-item>


        <!--  <ion-item>
            <ion-label>Assign Doctor</ion-label>
            <ion-select [(ngModel)]="patient.doctor" name="doctor" multiple="true">
              <ion-option *ngFor="let doctor of doctors | async" value="{{doctor.$id}}">{{doctor.firstName + " " + doctor.lastName}}</ion-option>
            </ion-select>
          </ion-item> -->
          <!--<button ion-button (click)="addPatient(newPatient)" ><ion-icon name="add"></ion-icon></button>-->
          <button ion-button [disabled]="!pform.form.valid" type="submit"><ion-icon name="checkmark"></ion-icon></button>
        </form>
        <ion-item>
          <button ion-button (click)="refresh()"><ion-icon name="close"></ion-icon></button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
