page-patient {
  .avatar-base {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}
