<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm)">
      <ion-item>
        <ion-label color="primary" stacked>Category</ion-label>
        <ion-select [(ngModel)]="comment.category" name="category" id="category" interface="popover">
          <ion-option *ngFor="let category of categories" [value]="category">{{category}}</ion-option>
        </ion-select>
      </ion-item>

      <!-- Name for the field that should go into comment.title -->
      <ion-item *ngIf="comment.category == 'Note'">
        <ion-label color="primary" stacked>Event</ion-label>
        <ion-input required type="text" class="title" placeholder="Patient arrived in hospital" [(ngModel)]="comment.title" name="title"></ion-input>
      </ion-item>
      <ion-item *ngIf="comment.category == 'Treatment'">
        <ion-label color="primary" stacked>Treatment</ion-label>
        <ion-input required type="text" class="title" placeholder="Treatment for" [(ngModel)]="comment.title" name="title"></ion-input>
      </ion-item>
      <ion-item *ngIf="comment.category == 'Diagnosis'">
        <ion-label color="primary" stacked>Diagnosis</ion-label>
        <ion-input required type="text" class="title" placeholder="Diagnosis" [(ngModel)]="comment.title" name="title"></ion-input>
      </ion-item>

      <!-- Name for the field that should go into comment.description -->
      <ion-item *ngIf="comment.category == 'Note'">
        <ion-label color="primary" stacked>Description</ion-label>
        <ion-input required type="text" class="description" placeholder="Enter note content here" [(ngModel)]="comment.description" name="description"></ion-input>
      </ion-item>
      <ion-item *ngIf="comment.category == 'Treatment'">
        <ion-label color="primary" stacked>Description of treatment</ion-label>
        <ion-input required type="text" class="description" placeholder="Enter the treatment description here" [(ngModel)]="comment.description" name="description"></ion-input>
      </ion-item>
      <ion-item *ngIf="comment.category == 'Diagnosis'">
        <ion-label color="primary" stacked>Explanation</ion-label>
        <ion-input required type="text" class="description" placeholder="Enter explanation here" [(ngModel)]="comment.description" name="description"></ion-input>
      </ion-item>

      <!-- TODO: Add image picker functionality -->

      <ion-item *ngIf="comment.category == 'Diagnosis'">
        <ion-label color="primary" stacked>Image URL</ion-label>
        <ion-input type="text" class="url" placeholder="Enter URL to Xray here" [(ngModel)]="comment.imageUrl" name="url"></ion-input>
      </ion-item>

      <button ion-button block [disabled]="!commentForm.form.valid" type="submit">Add Comment</button>
    </form>
  </ion-list>
</ion-content>
