page-patient-detail {
  $border-width: 4px;

  span {
    &.author {
      font-weight: bold;
    }
  }

  ion-card {
    &.danger {
      border-left: $border-width solid color($colors, danger);
    }

    &.success {
      border-left: $border-width solid color($colors, success);
    }

    &.info {
      border-left: $border-width solid color($colors, info);
    }

    &.warning {
      border-left: $border-width solid color($colors, warning);
    }
  }
}
