<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{patient.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModalUpdatePatient()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openDoctorsList()">
        <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>Basic Info</ion-card-header>
      <ion-card-content>
        <p><strong>Name: </strong> {{patient.name}}</p>
        <p><strong>Age: </strong>{{patient.age}}</p>
        <p><strong>Gender: </strong>{{patient.gender}}</p>
        <p><strong>Doctor: </strong>Dr. {{patient.doctorObj.firstName}} {{patient.doctorObj.lastName}}</p>
        <p><strong>Room: </strong>{{patient.roomObj.name}}</p>
        <p><strong>Arrival Time: </strong>{{patient.arrivalTime | date : "yyyy-MM-dd"}}</p>
        <p><strong>Blood Type: </strong>{{patient.bloodType}}</p>
        <p><strong>Allergies: </strong>{{patient.allergyObj.name}}</p>
        <p><strong>Diet: </strong>{{patient.diet}}</p>
      </ion-card-content>
    </ion-card>
    <ion-list-header>History</ion-list-header>
    <ion-item-group *ngFor="let comment of comments | async" [ngSwitch]="comment.category">
      <!-- NOTE -->
      <ion-card *ngSwitchCase="'Note'">
        <ion-card-header>{{comment.category}}</ion-card-header>
        <ion-card-content>
          <p><strong>{{comment.title}}</strong></p>
          <p>{{comment.description}}</p>
          <ion-note>{{comment.createdAt | date: 'yyyy-MM-dd'}}</ion-note>
        </ion-card-content>
      </ion-card>
      <!-- TREATMENT -->
      <ion-card *ngSwitchCase="'Treatment'">
        <ion-card-header>{{comment.category}}</ion-card-header>
        <ion-card-content>
          <p><strong>{{comment.title}}</strong></p>
          <ion-note>Start date: {{comment.createdAt | date: 'yyyy-MM-dd'}}</ion-note>
        </ion-card-content>
      </ion-card>
      <!-- DIAGNOSIS -->
      <ion-card *ngSwitchCase="'Diagnosis'">
        <ion-card-header>Diagnosed with {{comment.title}}</ion-card-header>
        <ion-card-content>
          <p><strong>Diagnosed by </strong>Dr. xxx</p>
          <ion-note>{{comment.createdAt | date: 'yyyy-MM-dd'}}</ion-note>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>

<form #patientForm="ngForm">
  <ion-item>
    <ion-label>Transfer Patient</ion-label>
    <ion-select [(ngModel)]="newDoctor" name="doctor" multiple="false"
                interface="action-sheet" #select
                (ionChange)="transferPatient(patient)">
      <ion-option *ngFor="let doctor of doctors | async"
                  value="{{doctor.$id}}"
                  selected="{{doctor.$id == newDoctor}}">
        {{doctor.firstName}} {{doctor.lastName}}
      </ion-option>
    </ion-select>
  </ion-item>
</form>
