<ng-template #addTxt>Add</ng-template>
<ng-template #updateTxt>Update</ng-template>

<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="goBack()">Close</button>
    </ion-buttons>
    <ion-title><span *ngIf="addingNewPatient; then addTxt; else updateTxt"></span> Doctor</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #doctorForm="ngForm" (ngSubmit)="addOrUpdateDoctor(doctorForm.value)">
    <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="First name" [(ngModel)]="clonedDoctor.firstName" required name="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Last name" [(ngModel)]="clonedDoctor.lastName" required name="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="clonedDoctor.gender" required name="gender">
          <ion-option value="Female">Female</ion-option>
          <ion-option value="Male">Male</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date of Birth</ion-label>
        <ion-datetime [(ngModel)]="clonedDoctor.dob" required name="dob"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Speciality</ion-label>
        <ion-select [(ngModel)]="clonedDoctor.speciality" required name="specialityRef">
          <ion-option *ngFor="let speciality of specialityObservable | async" [value]="speciality.$id" required>{{speciality.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="email" placeholder="Email" [(ngModel)]="clonedDoctor.email" required name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password" [(ngModel)]="clonedDoctor.password" required name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Working hours (start)</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="clonedDoctor.workHoursStart" required name="workHoursStart"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Working hours (end)</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="clonedDoctor.workHoursEnd" required name="workHoursEnd"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Room</ion-label>
        <ion-select [(ngModel)]="clonedDoctor.room" name="roomRef">
          <ion-option *ngFor="let room of roomObservable | async" [value]="room.$id" required>{{room.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="tel" placeholder="Telephone number" [(ngModel)]="clonedDoctor.phone" required name="phone"></ion-input>
      </ion-item>

    </ion-list>
    <ion-buttons end>
      <button ion-button block [disabled]="!doctorForm.form.valid" type="submit">
        <span *ngIf="addingNewPatient; then addTxt; else updateTxt"></span>
      </button>
    </ion-buttons>
  </form>
</ion-content>
